<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Facts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


      
</head>

<body>
        <div class="container-fluid">
                <div class="jumbotron text-center">
                        <h1>Mission to Mars</h1>
                        <p><a class="btn btn-primary btn-lg" href="../scrape.py" role="button">Scrape New Data</a></p>
                </div>
                        <!-- <div> -->
                <div class="container">
                        <div class="row">
                                <div class="col-md-12">
                                        <h3>Latest Mars News</h3>
                                        <h4> {{ mars_data.title }} </h4>
                                        <p> {{ mars_data.newpara }} </p>
                                </div>
                        </div>
                <!-- <div class="container"> -->
                <hr>
                        <h3 style="text-align: center;">Mars Hemispheres</h3>
                        <hr>
                        <div class="container">
                        <div class="row">
                                <div class="col-md-6">
                                        <div class="thumbnail">
                                                <img class="img-responsive" src="{{mars_data.pic_url[0].img_url[0]}}" alt="Cerberus Hemisphere">
                                                <div class="caption">
                                                        <h4>{{mars_data.pic_url[0].title}}</h4>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="thumbnail">
                                                <img class="img-responsive" src="{{mars_data.pic_url[1].img_url[1]}}" alt="Schiaparelli Hemisphere">
                                                <div class="caption">
                                                        <h4>{{mars_data.pic_url[1].title}}</h4>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="row">
                        <!-- <div class="w-100"></div> -->
                                <div class="col-md-6">
                                        <div class="thumbnail">
                                                <img class="img-responsive" src="{{mars_data.pic_url[2].img_url[2]}}" alt="Syrtis Major Hemisphere">
                                                <div class="caption">
                                                        <h4>{{mars_data.pic_url[2].title}}</h4>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="thumbnail">
                                                <img class="img-responsive" src="{{mars_data.pic_url[3].img_url[3]}}" alt="Valles Marineris Hemisphere">
                                                <div class="caption">
                                                        <h4>{{mars_data.pic_url[3].title}}</h4>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                  
        </div>
        
</body>
</html>